@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', sans-serif;
    background-color: #000;
    color: #fff;
    text-align: center;
    word-spacing: -2px; /* Adjust word spacing */
    line-height: 175%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: #222;
    padding: 10px 0;
}

ul {
  list-style: none;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

ul a {
  color: white;
}

ul li {
  padding: 5px;
  margin-left: 10px;
}

ul li:hover {
  transform: scale(1.1);
  transition: 0.3s;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    text-decoration: underline;
}

.about ul li {
    line-height: 250%;
}

.about ul li .bp1 {
    line-height: 150%;
}

.contactinfo {
    max-width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.story, .about, .team {
    padding: 40px 20px;
    text-align: left;
}

.story h2, .about h2, .team h2 {
    text-align: center;
    margin-bottom: 20px;
}

.member {
    margin-bottom: 40px;
    text-align: center;
}

.teamimg {
    position: static;
    transform: scale(1.5);
}

#ryanimg {
    margin-top: 1%;
    margin-bottom: -5%; /* Adjusted margin to move image down */
}

#kadenimg {
    margin-top: 1%;
    margin-bottom: -2.5%; /* Adjusted margin to move image down */
}

#erichimg {
    margin-top: 1%;
    margin-bottom: -1%; /* No adjustment needed */
}

.member h3 {
    margin-top: 50px; /* Adjusted margin to account for the moved images */
    margin-bottom: 10px;
}

footer {
    margin-top: 40px;
}

#hamburger-icon {
  margin: auto 0;
  display: none;
  cursor: pointer;
}

#hamburger-icon div {
  width: 35px;
  height: 3px;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}

.open .bar1 {
  -webkit-transform: rotate(-45deg) translate(-6px, 6px);
  transform: rotate(-45deg) translate(-6px, 6px);
}

.open .bar2 {
  opacity: 0;
}

.open .bar3 {
  -webkit-transform: rotate(45deg) translate(-6px, -8px);
  transform: rotate(45deg) translate(-6px, -8px);
}

.open .mobile-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.mobile-menu {
  display: none;
  position: absolute;
  top: 50px;
  left: 0;
  height: calc(100vh - 50px);
  width: 100%;
}

.mobile-menu li {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  header nav {
    display: none;
  }

  #hamburger-icon {
    display: block;
  }
}
